{% extends 'layout/layout_admin.html' %}

{%block content%}
<div style="display: flex; justify-content: center;">
    <div><table>
        <tr>
            <td align="center">
                이용권한이 없습니다
            </td>
        </tr>
        <tr>
            <td>
                <input type="button"class="btn btn-secondary" value="관리자 홈으로" onclick="document.location.href='/manager/'">
                <input type="button"class="btn btn-secondary" value="홈페이지로" onclick="document.location.href='/'">

            </td>
        </tr>
    </table>
</div>
{% endblock %}