{%extends 'layout/layout_admin.html'%}


{%block content%}
<br><br>
<h2 align="center">중분류관리</h2>
<table class="table" style="width: 800px;" align="center">
    <thead>
        <tr>
            <th>중분류 번호</th>
            <th>중분류 이름</th>
            <th>대분류 번호</th>
            <th>수정/삭제</th>
        </tr>
    </thead>

    {% for i in b %}
        <tr>
            <td>
                {{i.b_idx}}
            </td>
            <td>
                {{i.b_name}}
            </td>
            <td>
                {{i.b_idx_a}}
            </td>
            <td>
                <button onclick="location.href = '/manager/cateBupdate/?no={{i.b_idx}}'">수정</button>
                <button onclick="location.href = '/manager/deleteCateA/?no={{i.b_idx}}'">삭제</button>
            </td>
        </tr>
    {%endfor%}
</table>
{%endblock%}