{%extends 'layout/layout_admin.html'%}


{%block content%}
<br><br>
<form action="/manager/cateBresult/" method="post" name="cateA">
    {% csrf_token %}
    <table class="table" style="width: 600px;" align="center">
        <thead>
            <tr>
                <th align="center" colspan="2">
                    중분류 등록
                </th>
            </tr>
        </thead>
        <tr>
            <th>중분류 이름</th>
            <td>
                <input type="text" name="cate" required>
            </td>
        </tr>
        <tr>
            <th>대분류</th>        
            <td>
                <fieldset>
                    <select id="class" name="cateA">
                      
                        <optgroup label="대분류">
                          {% for i in a %}
                            <option value="{{i.a_idx}}">{{i.a_name}}</option>
                          {%endfor%}
                        </optgroup>
  
                </select>
                </fieldset>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit"class="btn btn-secondary" value="등록">
            </td>
        </tr>

    </table>
</form>

{%endblock%}