{% extends 'layout/layout.html' %}

{% block script %}
<script type="text/javascript">
    function checknotice() {
        if(document.write.rev_title.value == ""){
            alert("제목 입력 필요");
        }else if(document.write.rev_afterword.value == ""){
            alert("내용 입력 필요");
        }else{
            document.write.submit();
        }
    }
</script>
{% endblock %}

{% block content %}
<div style="width: 90%; margin: 0px auto; margin-left: 300px;">
    <form action="/board/reviewWriteCheck/" method="post" name="write">
        {% csrf_token %}
        <input type="hidden" name="no" value="{{g.goods_num}}">
        
        <table>
                {{forms.as_table}}
            <tr>
                <td colspan="2" style="text-align: right;">
                    <input type="button" value="후기작성" onclick="javascript:checknotice()">
                    <input type="button" value="목록" onclick="location.href='/board/reviewList/'">
                </td>

            </tr>
        </table>
        <div class="button" style="text-align:right; margin-top: 10px">
        </div>
    </form>
</div>
{% endblock %}