{%extends 'layout/layout.html'%}

{%block script%}
<script type="text/javascript">
   function checkWrite() {
      if(document.payment.name.value == ""){
         alert("이름(주문자정보)을 입력하십시오!");
      }else if(document.payment.email.value == ""){
         alert("이메일을 입력하십시오!")
      }else if(document.payment.tel.value == ""){
         alert("연락처를 입력하십시오!")
      }else if(document.payment.del_name.value == ""){
         alert("이름(배송정보)을 입력하십시오!")
      }else if(document.payment.del_tel1.value == ""){
         alert("연락처1을 입력하십시오!")
      }else if(document.payment.postcard.value == ""){
         alert("주소를 입력하십시오!")
      }else if(document.payment.del_choice.value == ""){
         alert("배송비 결제여부를 입력하십시오!")
      }else if(document.payment.agree.value == ""){
         alert("주문동의를 입력하십시오!")
      }else{
         document.write.submit();
      }
   }
</script>
{%endblock%}


{%block content%}
<br><br>
<form action="/pay/checkpay/" method="post" name="payment">
    {% csrf_token %}
    <input type="hidden" name="no" value="{{m.goods_num}}">
    <input type="hidden" name="count" value="{{count}}">

    <table class="table" style="width: 800px;" align="center">
        <thead>
          <tr>
            <th scope="col" colspan="2">주문자정보</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">이름</th>
            <td><input type="text" name="name"></td>
    
          </tr>
          <tr>
            <th scope="row">이메일</th>
            <td><input type="email" name="email"></td>
          </tr>
          <tr>
            <th scope="row">연락처</th>
            <td colspan="2"><input type="text" name="tel"></td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="table" style="width: 800px;" align="center">
        <thead>
          <tr>
            <th scope="col" colspan="2">배송 정보</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">이름</th>
            <td><input type="text" name="del_name"></td>
    
          </tr>
          <tr>
            <th scope="row">연락처1</th>
            <td><input type="text" name="del_tel1"></td>
          </tr>
          <tr>
            <th scope="row">연락처2</th>
            <td><input type="text" name="del_tel2"></td>
          </tr>
          <tr>
            <th scope="row">주소</th>
            <td>
                <input type="text" name='postcode' id="sample6_postcode" placeholder="우편번호">
                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                <input type="text" name='addr' id="sample6_address" placeholder="주소"><br>
                <input type="text" name='detailAddr' id="sample6_detailAddress" placeholder="상세주소">
                <input type="text" id="sample6_extraAddress" placeholder="참고항목">
                <input type="hidden" name="stock" value="{{count}}">
                <input type="hidden" name="point" value="{{point}}">
                
                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                    function sample6_execDaumPostcode() {
                        new daum.Postcode({
                            oncomplete: function(data) {
                                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                
                                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var addr = ''; // 주소 변수
                                var extraAddr = ''; // 참고항목 변수
                
                                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                    addr = data.roadAddress;
                                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                    addr = data.jibunAddress;
                                }
                
                                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                if(data.userSelectedType === 'R'){
                                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                        extraAddr += data.bname;
                                    }
                                    // 건물명이 있고, 공동주택일 경우 추가한다.
                                    if(data.buildingName !== '' && data.apartment === 'Y'){
                                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                    }
                                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                    if(extraAddr !== ''){
                                        extraAddr = ' (' + extraAddr + ')';
                                    }
                                    // 조합된 참고항목을 해당 필드에 넣는다.
                                    document.getElementById("sample6_extraAddress").value = extraAddr;
                                
                                } else {
                                    document.getElementById("sample6_extraAddress").value = '';
                                }
                
                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById('sample6_postcode').value = data.zonecode;
                                document.getElementById("sample6_address").value = addr;
                                // 커서를 상세주소 필드로 이동한다.
                                document.getElementById("sample6_detailAddress").focus();
                            }
                        }).open();
                    }
                </script>
                </script>
            </td>
          </tr>
          <tr>
            <th scope="row">주문메세지<br>(100자내외)</th>
            <td colspan="2"><textarea name="message" id="" cols="30" rows="5"></textarea></td>
          </tr>
          <tr>
            <th scope="row">배송비 결제여부</th>
            <td colspan="2">
                <fieldset>
                    <label><input type="radio" name="del_choice" value="0">선불</label>
                    <label><input type="radio" name="del_choice" value="1">착불</label>
                </fieldset>
            </td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <table class="table" style="width: 800px;" align="center">
        <tr >
            <th scope="col" colspan="5">주문상품 할인적용</th>
        </tr>
        <tr class="table-active">
            <th>상품금액</th>
            <th>배송비</th>
            <th>할인금액</th>
            <th>추가금액</th>
            <th>결제 예정금액</th>
            <th>적립금</th>
            <th>주문수량</th>
        </tr>
        <tr class="table-active">
            <td>{{m.goods_c_price}}원</td>
            <td>2500 원</td>
            <td>{{m.goods_sale_price}}원</td>
            <td>0 원</td>
            <td>{{p}}원</td>
            <td>{{point}}원</td>
            <th name="stock">{{count}}</th>
        </tr>
      </table>
      <br><br>
      <table class="table" style="width: 800px;" align="center">
        <thead>
          <tr>
            <th scope="col" colspan="2">결제 정보</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">결제방법</th>
            <td>
                <fieldset>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="method" value="0" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          신용카드
                        </label>
                      </div>
                </fieldset>
              </td>  
            </tr>
            <tr>
              <th>카드사</th>
              <td>
                <fieldset>
                  <select id="class" name="cardcompany">
                    
                      <optgroup label="카드사">
                        {% for i in c%}
                        <option value="{{i.card_idx}}">{{i.card_name}}</option>
                        {%endfor%}
                      </optgroup>

              </select>
              </fieldset>
              </td>

            </tr>
              <tr>
                <th>카드번호</th>
                <td><input type="text" name="cardNum"></td>
              </tr>
              <tr>
                <td colspan="2">
                    <font size="1" >
                        안심클릭 및 인터넷안전결제(ISP)서비스로 128bit SSL로 암호화된 결제 창이 새로 뜹니다<br>
                        결제 후, 카드명세서에 [이니시스(INICIS)]로 표시되며, 카드 정보는 상점에 남지 않습니다.
                    </font>

                </td>
            </tr>

        </tbody>
      </table>
      <table class="table" style="width: 800px;" align="center">
        <thead>
          <tr>
            <th scope="col" colspan="2">주문자 동의</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">주문동의</th>
            <td>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" name="agree" value="1" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">
                    <font size="1">
                        상기 결제정보를 확인하였으며, 구매진행에 동의합니다.                       
                    </font>
                </label>
              </div>
            </td> 
          </tr>
          <tr>
            <td colspan="2" align="center">
                <input type="submit" class="button" value="주문하기">
                <button type="button" class="btn btn-light">주문취소</button>
            </td>
          </tr>


        </table>




</form>

{%endblock%}